<h1 style="text-align: center;">ng-marquee</h1>
<section>
  <h2>Basic Example</h2>
  <div style="width: 90%; border: 1px solid green; margin:auto;">
    <ng-marquee marqueeId="foo">
      <mark>Hello, World...</mark>
    </ng-marquee>
  </div>
</section>
<!-- With Duration Property -->
<section>
  <h2>With Duration Property</h2>
  <div style="width: 90%; border: 1px solid green; margin:auto;">
    <ng-marquee marqueeId="bar" duration="10">
      <mark>Hello, World...again</mark>
    </ng-marquee>
  </div>
</section>
